body {
    background-color: rgb(126, 126, 125);
    font-family: Arial;
    text-align: center;
    padding-top: 30px;
}

.container {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
}

.banner {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

h2 {
    color: darkgreen;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    color: black;
}

input {
    width: 100%;
    padding: 8px 3px;
    margin-top: 5px;
    
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
}

button {
    margin-top: 15px;
    background-color: green;
    color: white; 
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

.result {
    margin-top: 20px;
    background-color: lightyellow;
    padding: 10px;
    border-radius: 5px;
    color: darkblue;
}
